mixin header
  header.header
    .header_in
      .header_row
        a.logo(href="#"): span PhoneBook



mixin footer
  footer.footer
    .footer_in
      .footer_row
      .footer_row



mixin main_nav
  .main_nav_wrap
    .menu_trigger.menuTrigger
      span.menu_trigger_decor
    .nav_hold
      nav.main_nav
        ul.main_nav_list
          li.main_nav_item: a.main_nav_link(href="#") Keypad
          li.main_nav_item: a.main_nav_link(href="#") Contacts
          li.main_nav_item: a.main_nav_link(href="#") User
          li.main_nav_item: a.main_nav_link(href="#") Edit contact
          li.main_nav_item: a.main_nav_link(href="#") New Contact





